<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celsius to Farenheit</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="target">
            <div class="inputs">
                <div class="celsius">
                    <p>Grados Celsius</p>
                    <input id="inputC" type="number" placeholder="Celsius">
                </div>
                
                <div class="farenheit">
                    <p>Grados Farenheit</p>
                    <input id="inputF" type="number" disabled>
                </div>
            </div>
        </div>
    </div>
</body>
</html>